<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Obviouslee Marketing || Charleston, SC Integrated Marketing &amp; Public Relations</title>
<link href='http://fonts.googleapis.com/css?family=Lato:300italic,900,700italic,300,400,400italic,100italic,900italic,100,700' rel='stylesheet' type='text/css'>
<style type="text/css">  @import url(http://fonts.googleapis.com/css?family=Lato:300italic,900,700italic,300,400,400italic,100italic,900italic,100,700);</style>
<link href="../public/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head><body style="background:url('images/bg-capabilities.gif') no-repeat -800px 0px">
<div id="container">
	<div id="header">
		<div class="logo"><a href="index.php"><img src="../public/images/header-logo.png" alt="Home" title="Home" /></a></div>
		<div class="menu">
			<ul>
				<li><a href="/the-om-way" title="The OM Way">The OM Way</a></li>
				<li><a href="/crew" title="Crew">Crew</a></li>
				<li><a href="/work" title="Work">Work</a></li>
				<li><a href="/capabilities" title="Capabilities">Capabilities</a></li>
				<li><a href="/connect" title="Connect">Connect</a></li>
				<li><a href="/blog" title="Blog">Blog</a></li>
			</ul>
		</div>
	</div>
<div class="contentShell" id="capabilities">
	<ul class="nav">
	<li class="advertising"><a href="#advertising">Advertising</a></li>
	<li class="brandStrategy"><a href="#brandStrategy">Brand Strategy</a></li>
	<li class="creative"><a href="#creative">Creative</a></li>
	<li class="interactive"><a href="#interactive">Interactive</a></li>
	<li class="publicRelations"><a href="#publicRelations">Public Relations</a></li>
</ul>
	<div class="infoShell" style="height:500px;overflow:hidden;">
		<div class="capability" id="advertising">
			<div class="statements">
				<ul>
					<li class="active">We hope you have call waiting because… It. Is. On.</li>
				</ul>
			</div>
			<div class="bullets">
				<ul>
					<li>media planning + buying</li>
					<li>online advertising</li>
					<li>Pay-Per-Click campaigns</li>
					<li>social media advertising</li>
					<li>ad design + strategy</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
		<br />
		<br />
		<br />
		<br />

		<div class="capability" id="brandStrategy">
			<div class="statements">
				<ul>
					<li class="active">To quote one of the great minds of our generation, Andre Agassi, &ldquo;Image is everything.&rdquo; Only we make that a reality without a mullet wig.</li>
				</ul>
			</div>
			<div class="bullets">
				<ul>
					<li>logo/identity</li>
					<li>messaging</li>
					<li>strategic planning</li>
					<li>market research</li>
					<li>marketing plans</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
		<br />
		<br />
		<br />
		<br />

		<div class="capability" id="creative">
			<div class="statements">
				<ul>
					<li class="active">All the design without the post-modern irony.</li>
				</ul>
			</div>
			<div class="bullets">
				<ul>
					<li>collateral design</li>
					<li>graphic design</li>
					<li>packaging</li>
					<li>signage</li>
					<li>website design</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
		<br />
		<br />
		<br />
		<br />

		<div class="capability" id="interactive">
			<div class="statements">
				<ul>
					<li class="active">@captainobvious Thanks again for all u have done for our biz. You guys are freakin awesome. Tripled our web hits this month! #badassmarketers</li>
				</ul>
			</div>
			<div class="bullets">
				<ul>
					<li>website development</li>
					<li>e-Commerce</li>
					<li>content management systems</li>
					<li>social media</li>
					<li>search marketing</li>
					<li>search engine optimization</li>
					<li>video</li>
					<li>mobile</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
		<br />
		<br />
		<br />
		<br />

		<div class="capability" id="publicRelations">
			<div class="statements">
				<ul>
					<li class="active">Even the most boring company on the face of the earth has done at least one interesting thing. Assuming you are not that company, we'll be able to help you get the word out.</li>
				</ul>
			</div>
			<div class="bullets">
				<ul>
					<li>media relations</li>
					<li>community relations</li>
					<li>pitching</li>
					<li>securing press</li>
					<li>event coordination/marketing</li>
					<li>partnerships/sponsorships</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
		<br />
		<br />
		<br />
		<br />

	</div>
	<div class="clear"></div>

</div>

		<div id="footer">
			<div class="logo"></div>
			<div class="address">501 Wando Park Boulevard, Suite 200 &nbsp;&nbsp;|&nbsp;&nbsp; Mt. Pleasant, SC 29464 &nbsp;&nbsp;|&nbsp;&nbsp; 843.972.0712<br /><a href="mailto:whattooksolong@obviouslee.com">Whattooksolong@obviouslee.com</a></div>
			<div class="social">
				<div class="flickr"><a href="http://www.flickr.com/photos/obviousleemarketing/" target="_blank"><img src="../public/images/footer-social-flickr.png" alt="Flickr" title="Flickr" /></a></div>
				<div class="twitter"><a href="http://twitter.com/#!/obviouslee" target="_blank"><img src="../public/images/footer-social-twitter.png" alt="Twitter" title="Twitter" /></a></div>
				<div class="facebook"><a href="http://www.facebook.com/obviousleemarketing?ref=ts" target="_blank"><img src="../public/images/footer-social-facebook.png" alt="Facebook" title="Facebook" /></a></div>
				<div class="vimeo"><a href="http://www.youtube.com/user/obviouslee3" target="_blank"><img src="../public/images/footer-social-vimeo.png" alt="Vimeo" title="Vimeo" /></a></div>
			</div>
		</div>
	</div><!--container-->
  <script src="../public/js/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="../public/js/jquery-scrollTo.min.js"></script>
  <script src="../public/js/jquery-localscroll.min.js"></script>
  <script src="../public/js/app.js"></script>
</body>
</html>